/** biome-ignore-all lint/suspicious/noUnknownAtRules: Tailwind need custom at rules */

@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-accent: #ff3535;
}
